<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings-demo
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="show_settings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings-demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    ¨<p>Usb debugging is {{this.settingsService.usbDebugging}}</p>
  </div>
</ion-content>
